APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=momo_app
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


# # * Client app ID.
# # * Also called; X-Reference-Id and api_user_id interchangeably
# # * User generated UUID4 string, and it has to be registered with the API.
# MOMO_DISBURSEMENT_ID=""
# # Also called; providerCallbackHost
# MOMO_DISBURSEMENT_CALLBACK_URI="" #Callback URI.
# # also called; apiKey
# MOMO_DISBURSEMENT_SECRET="" #Client app secret.

# MOMO_DISBURSEMENT_SUBSCRIPTION_KEY="" #Also called; Ocp-Apim-Subscription-Key

MOMO_BASE_URL=
MOMO_USER_ID=
MOMO_CALLBACK_URL=''
MOMO_DISBURSEMENT_API_KEY=
MOMO_DISBURSEMENT_API_SECRET=


# AFRIKA_TALKING_USERNAME =naijaWinners
# AFRIKA_TALKING_API_KEY =037e868be27d7e3982873c1aabdbf21746df7fe5e55897816f4af16d3db1b962

AFRIKA_TALKING_USERNAME =
AFRIKA_TALKING_API_KEY =
AFRIKA_TALKING_SMS_FROM=null

SMS_APIKEY =
SMS_FROM=
SMS_CHANNEL=